p.header{
    position: absolute;
    top:0;
    padding: 5px;
    right: 0;
}
input.addin, select.addin{
    position: absolute;
    left: 80px;
    width: 140px;
}
input.regin{
    position: absolute;
    left: 140px;
    width: 140px;
}
